@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:ital,wght@0,400;0,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html
{
    scroll-behavior: smooth;
}
#small
{
    font-size: 30px;    
}
#small:hover
{
    color: cornflowerblue;  
}

a
{
    text-decoration: none;
}

#bold
{
    font-weight: 500;
    text-decoration: none;
}

/*similar section styling*/

section
{
    padding: 100px 0;
}

section .title
{
    position: relative;
    text-align: center;
    font-family: 'ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

section .title::before
{
    content: "";
    position: absolute;
    bottom: 0px;
    width: 180px;
    height: 3px;
    background: #111;
    left: 50%;
    transform: translateX(-50%);
}

section .title::after
{

    position: absolute;
    bottom: -12px;
    color: crimson;
    padding: 5px;
    background: #fff;
    font-size: 20px; 
    left: 50%;
    transform: translateX(-50%);
}

.about .about-content, .projects .projects-content, .skills .skills-content , .education .education-content, .contact .contact-content , footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-between;
    margin: 15px 0px;
}

.about, .projects, .skills, .education, .contact, footer
{
    font-family: 'poppins', sans-serif;
    background: #fff;
}

/* nav section styling*/

.max-width
{
    max-width: 1300px;
    padding:  0 80px;
    margin: auto;
}
.navbar
{
    position: fixed;
    width: 100%; 
    padding: 30px 0;
    z-index: 999;
    font-family: 'ubuntu', sans-serif;
    transition: 0.3s ease;
}

.navbar.sticky
{
    padding: 15px 0;
    background : crimson;

}
.navbar.sticky .logo a span
{
    color: black;
    transition: 0.3s ease;
}

.navbar .max-width
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a
{
    color: #fff; 
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span
{
    color:crimson;
}

.navbar .menu li
{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a
{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover
{
    color: crimson;
}

.navbar.sticky .menu li a:hover
{
    color: black;
    transition: 0.3s ease;
}

/*scroll btn sttyling*/

.scroll-up-btn
{
    position: fixed;
    height: 45px;
    width: 43px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    border-radius: 50px;
    z-index: 9999;
    font-size: 30px;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.scroll-up-btn.show
{
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}
.scroll-up-btn:hover
{
    color: #fff;   
}

/*menu btn styling*/

.menu-btn
{
    color: white;
    font-size: 23px;
    cursor: pointer; 
    display: none;

}

/* home section styling*/

.home
{
    display: flex;
    background: url(images/without\ bg\ my\ pic.png) no-repeat center right black ;
    height: 100vh; 
    color: #fff;
    min-height: 500px;
    font-family: 'ubuntu', sans-serif;
}

.home .max-width
{
    margin: auto 0 auto 40px;
}
.home .home-content a
{
    display: inline-block;
    background: crimson;
    color: black;
    font-size: 25px;
    border-radius: 10px;
    padding: 12px 30px;
    border:  2px double white;
    transition: all 0.3s ease;
}
.home .home-content a:hover
{
    background: black;
    color: crimson;
    border: 2px solid crimson;
}

.home .home-content .text-1
{
    font-size: 27px;
}

.home .home-content .text-2
{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3
{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span
{
    color: crimson;
    font-weight: 500;
}


/*about section styling*/

.about .title::after
{
    content: "Who am I";
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    
}

.about .about-content .right .text span{
    color: crimson;
}

.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: black;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
    padding: 10px 30px;
    border:  2px solid white;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover{
    background:#111;
    color: crimson;
    border:  2px double crimson;
}

.about .about-content .left img
{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}


/*project section styling*/

.projects, .education
{
    color: #fff;
    background: #111;
}

.projects .title::before, .education .title::before
{
    background: #fff;
}

.projects .title::after
{
    background: #111;
    content: "What I developed";
}

.projects .projects-content .card, .education .education-content .card
{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.projects .projects-content .card:hover,  .education .education-content .card:hover
{
    background: crimson;
    transition: color 0.3s ease;
}

.projects .projects-content .card:hover i
{
    color: #fff;
    transition: color 0.3s ease;
}

.projects .projects-content .card:hover .text,  .education .education-content .card:hover .text
{
    color: #222;
    font-weight: 700;
    transition: color 0.3s ease;
}

.projects .projects-content .card i 
{
    font-size: 50px;
    color: crimson;
}

.projects .projects-content .card a .text,  .education .education-content .card a .text
{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.projects .projects-content .card .box ,  .education .education-content .card .box
{
    transition: all 0.3s ease;
}
.projects .projects-content .card:hover .box ,  .education .education-content .card:hover .box
{
    transform: scale(1.05);
}

/*skilss section styling*/

.skills .title::after
{
    content: "What I know";
}

.skills .skills-content .column 
{
    width: calc(50% - 30px);
}

.skills .skills-content .left .text
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;

}

.skills .skills-content .left p
{
    text-align: justify;
}
.skills .skills-content .left a
{
    display: inline-block;
    background: crimson;
    color: black;
    font-size: 18px;
    font-weight: 300;
    border-radius: 6px;
    padding: 8px 28px;
    border:  2px solid white;
    transition: all 0.3s ease; 
}

.skills .skills-content .left a:hover{
    background:#111;
    color: crimson;
    border:  2px double crimson;
}

.skills .skills-content .right .bars
{
    margin-bottom: 15px;     
}

.skills .skills-content .right .info 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skills .skills-content .right span
{
    font-weight: 500;
    font-size: 18px;

}

.skills .skills-content .right .line
{
    height: 5px;
    width: 100%;
    background: crimson;
    position: relative;
}

.skills .skills-content .right .line::before
{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}

.skills-content .right .html::before
{
    width: 80%;
}
.skills-content .right .css::before
{
    width: 70%;
}


/*education section styling*/

.education .title::after
{
    background: #111;
    content: "Where I studied";
}
.education .education-content .text
{
    object-fit: cover;
    color: crimson;
    font-weight: 550;
    font-size: 20px;
}

#bca{
    border-radius: 25px;
    width: 300px;
    height: 225px;
}

#piramal{
    border-radius: 25px;
}

#riet{
    border-radius: 50%;
    width: 150px;
}

/*contact section styling*/

.contact .title::after
{

    content: "Get in touch";
}
.contact .contact-content .column
{
    width: calc(50% - 30px);
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .text
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}

.contact .contact-content .left .icon
{
    margin: 10px 0;
}
.contact .contact-content  .row
{
    display: flex;
    height: 65px; 
    align-items: center;
}
.contact .contact-content  .row .info
{
    margin-left: 30px;
}

.contact .contact-content .info .head
{
    font-weight: 500;
}
.contact .contact-content .info .sub-title
{
    color: #333;
}

.contact .right form .field
{
    display: flex;
}
.contact .right form .field, 
.contact .right form .field .field
{
    height:45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea
{
    height: 80px;
    width: 100%;
}
.contact .right form .name
{
    margin-right: 10px;
}
.contact .right form .email
{
    margin-left: 10px;
}


.contact .right form .field input, 
.contact .right form .textarea textarea
{
    height: 100%;
    width: 100%; 
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px ;
    font-size: 17px;
    font-family: 'poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}

.contact .right form .button
{
    height: 47px;
    width: 170px;        
}

.contact .right form .button button
{
    height: 100%;
    width: 100%;        
    border: 2px solid white;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px; 
    transition: all 0.3s ease; 
    cursor: pointer;
}

.contact .right form .button button:hover
{

    border: 2px solid crimson;
    background: black;
    color: crimson;

}



.links a i{
    font-size: 40px;
}



#linkedin{
    color: blue;
}


#github{
    color: black;
    margin-left: 15px;
}

#insta{
    margin-left: 15px;
}

/*footer section styling*/
footer{
    background: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    margin: 0px;
}

footer .f{
    margin-left: 30%;
}


.footer{
    
    font-size: 18px;
    color: white;
}

.footer span{
    color: crimson;
}

/*responssiveness*/

@media (max-width : 1300px)
{
    .home.max-width{
        margin-left: 0px;
    }
}

@media (max-width : 1104px)
{
    .about .about-content .left img
    {
        height: 350px;
        width: 350px;
    }
}

@media (max-width : 991px){

    .max-width{
        padding: 0 50px;
    }
}

@media (max-width : 947px)
{
    .menu-btn
    {
        display: block;
        z-index: 999;
    }

    .home .home-content a
    {
        font-size: 23px;
        border-radius: 12px;
        padding: 10px 25px;
        border:  2px double white;
        transition: all 0.3s ease;
    }

    .about .about-content .column
    {
        width: 100%;
    }

    .about .about-content .left
    {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px ;
    }

    .projects .projects-content .card,  .education .education-content .card
    {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }  
    .about .about-content .right
    {
        flex: 100%;
    }
    .menu-btn i.active:before
    {
        content: "\f00d";
    }

    .max-width
    {
        padding:  0 50px;
    }

    .navbar .menu
    {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active
    {
        left: 0%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
    }

    .navbar .menu li
    {
        display: block;
    }

    .navbar .menu li a
    {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2
    {
        font-size: 70px;
    }

    .home .home-content .text-3
    {
        font-size: 35px;
    }

    .max-width
    {
        max-width: 800px;
    }
    .skills .skills-content .column, 
    .contact .contact-content .column
    {
        margin-bottom: 25px;
        width: 100%;
    }


}
@media (max-width : 690px)
{

    .home .home-content .text-2
    {
        font-size: 60px;
    }
    .home .home-content a
    {

        font-size: 20px;
        padding: 9px 22px;

    }
    .home .home-content .text-3
    {
        font-size: 32px;
    }

    .max-width{
        padding: 0 23px;
    }
    .projects .projects-content .card,.skills .skills-content .column ,  .education .education-content .card
    {
        width:100%;
    }  
}

@media (max-width : 500px)
{

    .home .home-content .text-2
    {
        font-size: 50px;
    }

    .home .home-content .text-3
    {
        font-size: 27px;
    }
}